*{
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: "Exo", sans-serif;
    color: #fff;
    background: linear-gradient(-45deg, #eeaa84, #e74579, #73b6e0, #79d9b0);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.container {
    width: 100%;
    position: absolute;
    top: 35%;
    text-align: center;
}

.weizhi{
    border-style: dotted;
    animation:myfirst 10s linear infinite;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 1850px;
    float: left;
}
@keyframes myfirst {
    0% {border: #2d35ff;} 25% {border: #49ff4b;} 50% {border: #ff2728;} 75% {border: #ff2ee7;} 100% {border:#2d35ff;}
}
.tupian{
    padding-left: 10px;
    padding-top: 10px;
    height: 230px;
    width: 350px;
    float: left;
    padding-bottom: 10px;
    padding-right: 10px;

}
.tupian:hover{
    transform: scale(1.1);
}
.ziti{
    padding-top: 10px;
    padding-left: 10px;
    float: left;
    width: 1460px;
    font-size: 20px;
    font-weight: bold;
    height: 230px;
    color: #d0ffaa;
}
.fanhui{
    float: right;
}