*{
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
}
.landing-page{
    width: 100%;
    height: 100vh;
    background: #ffdcdc;
    position: relative;
    overflow: hidden;
}
.landing-page:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/linkstart.jpg) no-repeat;
    background-size: cover;
    opacity: .3;
    animation: anim 25s linear infinite;
}
@keyframes anim {
    50%{
        transform: scale(2) ;
    }
    100%{
        transform: scale(1) ;
    }
}
.page-content{
             position: absolute;
             top: 50%;
             left: 50%;
             transform: translate(-50%, -50%);
             Z-index: 1;
             width: 100%;
             text-align: center;
             padding: 0;
             box-sizing: border-box;
}
.page-content h1{

    color: #000;
    font-size: 180px;
    margin-bottom: 20px ;
    font-family: "CloisterOpenFace BT", serif;
    font-style: oblique;
}
.page-content a{
    font-size: 30px;
    font-family: SAO, serif;
    display: inline-block;
    text-decoration: none;
    color: #000000;
    border: 2px solid #a983ff;
    text-transform: uppercase;
    padding: 10px 20px;
    transition: 0.4s linear;
    text-shadow: -0.06em 0 red,  0.06em 0 cyan;
    letter-spacing: 0.08em;
}
p {
    margin: 0;
}
.page-content a:hover{
    transform: scale(1.2);
}
@font-face {
    font-family: "CloisterOpenFace BT";
    src: url("../TTF/Cloisofn.ttf");
}
@font-face {
    font-family: SAO;
    src: url("../TTF/EN.ttf");
}
